Customer Support RAG with Gmail.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        32
      ],
      "id": "adc53d15-923a-4cc1-a052-fc349651aaf7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4588f1O5dPck7v8c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "this email is belong customer Support"
            },
            {
              "category": "Other",
              "description": "not work"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -336,
        32
      ],
      "id": "04a8a87e-d44e-40f6-a9b7-9d6d1277dc90",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        240
      ],
      "id": "6fcad53a-d829-46ff-9646-ea23cbbb0c5a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3U3Pp7HtaD2imkMs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -144,
        192
      ],
      "id": "6b81a132-e1f8-4c5f-bd68-e15f96c25c13",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant to give the customer question answer from knowledge base tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        -32
      ],
      "id": "fca3b454-f266-46a3-b693-0140097f7427",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        176
      ],
      "id": "3356fa30-7247-4224-9c9d-50c891b635f1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3U3Pp7HtaD2imkMs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool when user ask question",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n01nov",
          "mode": "list",
          "cachedResultName": "n8n01nov"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "d91f98f8-f5e9-466c-8d43-df859d999329",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NlwGjKuGizCgqMbn",
          "name": "pinecone Auth01nov"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        416
      ],
      "id": "997e40fc-0b27-43d9-80f2-821b686081ab",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3U3Pp7HtaD2imkMs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        5.307051467895349
      ],
      "id": "cb2777ee-f8ea-4a57-b0f0-52465d32b293",
      "name": "Reply to a message",
      "webhookId": "3eb148c0-b1c3-48ad-91c6-eca9d1cbc3af",
      "credentials": {
        "gmailOAuth2": {
          "id": "4588f1O5dPck7v8c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YELLOW_STAR",
          "STARRED"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        16
      ],
      "id": "f4a09432-f47b-4479-a0ed-1c783022ea48",
      "name": "Add label to message",
      "webhookId": "581bed13-3903-4b30-8b69-4e8f2facc178",
      "credentials": {
        "gmailOAuth2": {
          "id": "4588f1O5dPck7v8c",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a6344cb-496c-4d3e-aecb-c25fe2595872",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93c11f5a694a11681ec9177531fcb331c6a0db1d49a42c203537b99fe5307e80"
  },
  "id": "FqwVggL9Yg1bna28",
  "tags": []
}