Personal Agent with Telegram.json
{
  "name": "Telgram Agent",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1136,
        128
      ],
      "id": "b695c006-f996-46c2-8aee-0142bb23c261",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -96
      ],
      "id": "87e5eca1-e2a1-4fc7-97ab-e98f7ab24518",
      "name": "Telegram Trigger",
      "webhookId": "6f6d2a49-9cdc-4a87-90f9-bfa948fc31c1",
      "credentials": {
        "telegramApi": {
          "id": "HmCyZTLiJHJ0fYju",
          "name": "Telegram tawnagar_bot"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY",
          "mode": "list",
          "cachedResultName": "Electrcity Bill",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1008,
        128
      ],
      "id": "565906d1-050a-4388-a169-2f454fd612fb",
      "name": "contact database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zqKcaHvv4R0ygb3D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to take action in email",
        "workflowId": {
          "__rl": true,
          "value": "vqE79ao8ILmiBjME",
          "mode": "list",
          "cachedResultUrl": "/workflow/vqE79ao8ILmiBjME",
          "cachedResultName": "Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -864,
        112
      ],
      "id": "55b0dcb8-b6ce-4ff3-b10a-ef92df9dc6d2",
      "name": "Call 'Email Agent'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "You are the Personal AI Agent, a Telegram assistant that understands user requests and decides when to act locally or delegate tasks to specialized agents — the Email AI Agent and the Calendar AI Agent.\n\nYour Tasks:\n\nInterpret each Telegram message and choose the right action.\n\nEmail tasks (read, send, summarize, search) → delegate to Email AI Agent.\n\nCalendar tasks (schedule, reschedule, cancel, list, reminders, availability) → delegate to Calendar AI Agent.\n\nContacts or chat → handle directly using memory and the contact database.\n\nAlways reply clearly, briefly, and naturally in Telegram.\n\nYou Can Access:\n\nMemory (chat history and user context)\n\nContact database (Google Sheets)\n\nEmail AI Agent (Gmail)\n\nCalendar AI Agent (Google Calendar)\n\nOpenAI Chat Model (reasoning)\n\nReminders:\n\nDelegate all email and calendar tasks — don’t process them yourself.\n\nSend the full user message to the correct agent.\n\nReturn agent results formatted for Telegram (friendly and concise).\n\nKeep tone warm, short, and helpful.\n\nAsk clarifying questions if the request is unclear."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -944,
        -128
      ],
      "id": "939dd310-eed5-4b08-b0a3-4c425f3056a5",
      "name": "Personal AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        128
      ],
      "id": "142b69bd-1b45-4cc0-ab32-b178b400c5fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qy4W9DL3T8xzWCWE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to take action in Calendar",
        "workflowId": {
          "__rl": true,
          "value": "u1KO4rpSu6xTxw8i",
          "mode": "list",
          "cachedResultUrl": "/workflow/u1KO4rpSu6xTxw8i",
          "cachedResultName": "Calendar-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -720,
        112
      ],
      "id": "dc6cd29a-64c0-457e-baf3-cedef61bf97e",
      "name": "Calendar-Agent'"
    },
    {
      "parameters": {
        "description": "use this tool for internet search when user ask question",
        "workflowId": {
          "__rl": true,
          "value": "mhxokZfKgCSNFwet",
          "mode": "list",
          "cachedResultUrl": "/workflow/mhxokZfKgCSNFwet",
          "cachedResultName": "Searh_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -576,
        112
      ],
      "id": "bc506af6-831d-4ed4-967e-6c433828e9bd",
      "name": "Searh-Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "={{ $json.message.voice.mime_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d54e5ebe-1354-4283-8e9d-2045cbf459ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb6ef03c-4225-4513-96b5-3e7bab04ec7d",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1440,
        -96
      ],
      "id": "dc85cff3-49b8-4f4e-911d-8fbca48ff0ed",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a15b214-1bdf-4904-b61a-1973a8eabdb2",
              "name": "Text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        -80
      ],
      "id": "5f8e2888-e52e-48ca-9c62-cc014a23f5fb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -288
      ],
      "id": "d66e34a8-05f6-4763-b19d-94f5212c3695",
      "name": "Get a file",
      "webhookId": "b93ca39f-1189-4ff6-afbe-e58923f58afd",
      "credentials": {
        "telegramApi": {
          "id": "HmCyZTLiJHJ0fYju",
          "name": "Telegram tawnagar_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1104,
        -288
      ],
      "id": "3174e5fd-a16d-4dac-9e8a-bae948aad748",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "Qy4W9DL3T8xzWCWE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -672,
        -272
      ],
      "id": "98290364-b0c0-4dd6-b180-a45f4ae03dd1",
      "name": "Text Response",
      "webhookId": "d3bdce92-2e06-47b7-b274-5d3ecf90d15b",
      "credentials": {
        "telegramApi": {
          "id": "HmCyZTLiJHJ0fYju",
          "name": "Telegram tawnagar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "data.mpeg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -128
      ],
      "id": "dd7711d6-0bbe-4fbe-9c0e-126d6c4393d8",
      "name": "Send an audio file",
      "webhookId": "d185a957-f0f6-4f5d-9889-632ab36e6d7a",
      "credentials": {
        "telegramApi": {
          "id": "HmCyZTLiJHJ0fYju",
          "name": "Telegram tawnagar_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -128
      ],
      "id": "b6cc9c9f-a795-426e-a236-d2da0929fd26",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "ummarize this incoming message. The output should contain only plain text, with no markdown formatting or special symbols.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -528,
        -128
      ],
      "id": "0f063929-0689-405d-ac1d-19e8d295f41f",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Qy4W9DL3T8xzWCWE",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact database": {
      "ai_tool": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Email Agent'": {
      "ai_tool": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Personal AI Agent": {
      "main": [
        [
          {
            "node": "Text Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar-Agent'": {
      "ai_tool": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Searh-Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Personal AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Personal AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "673781d0-9376-4065-b3c4-2da6ab4297ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a3cfde5ee8cef230f97379ba98891a5b510f8f132c0b74323507fbd19f95eb6"
  },
  "id": "LQKyMBXJ0faP5x0W",
  "tags": []
}