pinecone_with single file.json
{
  "name": "pinecone_with single file",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        112
      ],
      "id": "2c2fb4ed-e1e3-4463-a49e-aa8ebc33cb9b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RirCfBV4QJXMdjR0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest",
          "mode": "list",
          "cachedResultName": "n8ntest"
        },
        "options": {
          "pineconeNamespace": "newspace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -144,
        -160
      ],
      "id": "89ccca7b-6e16-4056-a01b-7e4d9a90547a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JyhIp1cVNKG2BVU5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        128
      ],
      "id": "2b43e232-5cdb-43b0-9f0c-ea34ea966ead",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        272
      ],
      "id": "db85d8a3-a513-4e05-a96e-0456a5835259",
      "name": "When chat message received",
      "webhookId": "ca83b5a0-bf6b-43d0-aab4-c694e311a4d3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a technical assistant specialized in industrial instrumentation and automation.\n\nYour knowledge comes **only** from the technical manuals and documents embedded in your connected vector database (Pinecone). \nIf a user asks a question, search the embedded data and answer **only** based on the information in those documents.\n\nIf the information is not available in the provided manuals, clearly say:\n\"I cannot find this information in the provided manuals.\"\n\nGuidelines:\n- Use clear, precise, and professional language suitable for field technicians.\n- If a question mentions a specific model (e.g., XMTD-8011, Red Lion, PID Controller, etc.), identify it and focus your answer on that model’s details from the manual.\n- For parameter or setting questions, describe the steps or meanings exactly as they appear in the manuals.\n- Do not invent or assume information not found in the documents.\n- Use bullet points for step-by-step instructions.\n- When multiple possible meanings exist, clarify which one matches the manual content.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -576,
        272
      ],
      "id": "0cd506ff-117a-4f89-b7d5-4688a7ca4edf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        496
      ],
      "id": "d094ae8e-b4d6-4a5c-b8a0-52b655ad93a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RirCfBV4QJXMdjR0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        496
      ],
      "id": "cbf8701a-c055-42b1-afd1-91f7bac04952",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -128,
        320
      ],
      "id": "7e95b76c-29cd-463d-af25-35d35b9cb15a",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest",
          "mode": "list",
          "cachedResultName": "n8ntest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -320,
        480
      ],
      "id": "e86ce0b7-1f47-42e3-82ee-ae0bf2e767f5",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "JyhIp1cVNKG2BVU5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        640
      ],
      "id": "e1e2045c-1a74-4466-866b-56b24f3f8a77",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RirCfBV4QJXMdjR0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        544
      ],
      "id": "94e5ed54-e2ff-4c03-a903-a7e32496849b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "RirCfBV4QJXMdjR0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ECC5zvLqst2EE42V1fCSBr5fC0e5GVkF",
          "mode": "list",
          "cachedResultName": "test_man",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ECC5zvLqst2EE42V1fCSBr5fC0e5GVkF"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -160
      ],
      "id": "c6b0b38b-6dbb-44a5-aa83-7fc17b8c4e7b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8ppW9KSRO7B32PrM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        -160
      ],
      "id": "4f736f73-7787-4d26-9838-20cdd966072d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8ppW9KSRO7B32PrM",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1df2fe1a-c113-4b2a-a539-63c13fd1e244",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35277d435a7e3ef939458b26e5901e5ef47f26314720303f795ad9a3655a6276"
  },
  "id": "2stK3rJkmUEtPKsL",
  "tags": [
    {
      "name": "RAG",
      "id": "DJ12xWFJVjpK7OEP",
      "createdAt": "2025-10-19T16:46:34.648Z",
      "updatedAt": "2025-10-19T16:46:34.648Z"
    }
  ]
}