Switch_Filter.json
{
  "name": "Switch/Filter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -16
      ],
      "id": "2680dd39-f89b-4bff-a9cf-98f20c959ccb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY",
          "mode": "list",
          "cachedResultName": "Electrcity Bill",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCUFPnnXzBzonPtoJO5L8FPl2hZo34BdtOysOQlGBqY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -16
      ],
      "id": "37704d00-d8a3-43dd-98f3-f160d8344d2c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rAp6euRlvSedOYIY",
          "name": "Google Sheets check"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1f1926-6264-4398-a0bd-ae36e33cfdaa",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        -16
      ],
      "id": "90add4f9-2de8-4503-a9f3-30229a3aae7a",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "unpaid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e1de9a53-eefe-4642-ad45-e53c7b49ab47"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7271f041-9aa4-4e26-98d9-1ea53d94715b",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "In progress",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee1bf92a-6948-4e83-a506-0989c8180b46",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -128,
        -16
      ],
      "id": "86988c09-06ff-4022-97eb-84c7d47752f8",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Billed not Paidt",
        "message": "testing phase switch 01",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        -160
      ],
      "id": "6740da2e-ef52-4476-841f-ef05dca9a050",
      "name": "Send a message",
      "webhookId": "97db35fd-b391-40bc-b298-30d15bc86018",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsaH9CHtyb7nzyp2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Hello this is switch 02",
        "message": "Hello ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        -16
      ],
      "id": "d14af4b5-4f1c-4c58-989c-7372762b6dd1",
      "name": "Send a message1",
      "webhookId": "03fe7d5a-e531-4a63-94ae-de5bced2ecfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsaH9CHtyb7nzyp2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Hello this is switch 03",
        "message": "Hello ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        144
      ],
      "id": "c2c06966-541c-4795-b2a5-cc8571c66551",
      "name": "Send a message2",
      "webhookId": "03fe7d5a-e531-4a63-94ae-de5bced2ecfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsaH9CHtyb7nzyp2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "195c04ca-584e-4169-8e20-1324215c5036",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c8866dfca27b3a68f886519e601e1c0507d72780599e4cd6aa52fcb73d72136"
  },
  "id": "GXiHY13stjeYC7XZ",
  "tags": [
    {
      "createdAt": "2025-10-12T16:45:45.620Z",
      "updatedAt": "2025-10-12T16:45:45.620Z",
      "id": "O8xo79EY9fAcJED4",
      "name": "Zafar"
    }
  ]
}